<template>
  <div class="card">
    <div class="card-header">
      <div class="fs-3 card-title m-0">Line {{ lineNumber }}</div>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="phone-number">Phone number</label>
        <input
            type="text"
            id="phone-number"
            class="form-control"
            v-model="phone"
        >
        <div class="text-muted small">Warning: This is not a fake call. The recipient's phone will ring for real :)</div>
      </div>
      <div class="mb-3">
        <template v-if="lineStatus == SipLinStatusEnum.Ready">
          <button class="btn btn-primary" :disabled="!phone" @click.prevent="performAction('Call', {phone})">Call
          </button>
        </template>
        <template v-if="lineStatus == SipLinStatusEnum.CallRinging">
          <button class="btn btn-warning" @click.prevent="performAction('Cancel')">Cancel</button>
        </template>
        <template v-if="lineStatus == SipLinStatusEnum.CallAnswered">
          <button class="btn btn-danger" @click.prevent="performAction('Hangup')">Hangup</button>
          <button
              v-if="phoneToMergeWith"
              class="btn btn-success ml-3" @click.prevent="performAction('Merge', {phoneToMergeWith})">Merge two calls</button>
        </template>
      </div>
    </div>
    <div class="card-footer">
      <div
          v-if="lineStatus !== undefined"
      >Line status: {{ textPhoneStatuses[lineStatus] }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import axios from "axios";
import {ref, watch} from "vue";
import {SipLinStatusEnum} from "./SipLinStatusEnum.ts";

interface IProps {
  lineNumber: number,
  lineStatus?: number
  phoneToMergeWith?: string
}

const props = defineProps<IProps>()
const phone = ref('')
const emit = defineEmits(['phoneUpdated'])
watch(() => phone.value, (newVal) => {
  emit('phoneUpdated', newVal)
})

const textPhoneStatuses: { [key: number]: string } = {}
textPhoneStatuses[SipLinStatusEnum.Ready] = 'Ready'
textPhoneStatuses[SipLinStatusEnum.CallTrying] = 'Call Trying'
textPhoneStatuses[SipLinStatusEnum.CallRinging] = 'Call Ringing'
textPhoneStatuses[SipLinStatusEnum.CallFailed] = 'Call Failed'
textPhoneStatuses[SipLinStatusEnum.CallAnswered] = 'Call Answered'


const performAction = async (action: string, params?: any) => {
  const queryParams = Object.assign({
    lineNumber: props.lineNumber,
    action: action,
    payload: params
  })

  const response = await axios.post(`/QMPhoneDemo/PerformAction`, queryParams)
  console.log(response)
}

</script>

<style scoped>

</style>