<template>
  <div class="row">
    <div class="col-md-6">
      <sip-line
          :line-number="0"
          :line-status="linesStatus[0]"
          :phone-to-merge-with="phoneToMergeWith"
          @phoneUpdated="phoneLine1Updated"
      />
    </div>
    <div class="col-md-6">
      {{ phoneToMergeWith }}
      <sip-line
          :line-number="1"
          :line-status="linesStatus[1]"
          @phoneUpdated="phoneLine2Updated"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <div class="p-2">
        <div class="d-inline-block">
          <label for="call-flow-configuration">Please select the call flow configuration</label>
          <select
              class="form-control"
              id="call-flow-configuration"
              v-model="callFlowConfiguration"
          >
            <option value="Safeco">Safeco</option>
            <option value="Emma">Emma</option>
          </select>
        </div>
      </div>

      <button
          :disabled="phone1 == '' || phone2 == '' || sendingRequest"
          class="btn btn-success ml-3"
          @click.prevent="performAction('StartThreeLeggedCall')">Try full scenario
      </button>

      <div
          v-if="waitingForThreeLeggedCall"
      >Please wait. The server received the request and will process it shortly.
      </div>


      <div class="three-legged-call-statuses d-flex justify-content-center">
        <template
            v-if="rawLineStatusesResponse.PreviousStepStatus"
        >
          <span>{{ rawLineStatusesResponse.PreviousStepStatus }}</span>
          <span>&nbsp;&rarr;&nbsp;</span>
        </template>
        <template
            v-if="rawLineStatusesResponse.CurrentStepStatus"
        >
          <span>{{ rawLineStatusesResponse.CurrentStepStatus }}</span>
          <span>&nbsp;&rarr;&nbsp;</span>
        </template>
        <template
            v-if="rawLineStatusesResponse.NextStepStatus"
        >
          <span>{{ rawLineStatusesResponse.NextStepStatus }}</span>
        </template>
      </div>

    </div>
  </div>
  <div
      v-if="callRecording && figFile"
      class="row">
    <img
        style="width: 100%"
        :src="figFile">

    <audio
        style="width: 100%"
        controls>
      <source :src="callRecording" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </div>
</template>

<script setup lang="ts">
import {computed, onBeforeUnmount, ref} from "vue";
import axios from "axios";
import SipLine from "./SipLine.vue";
import {SipLinStatusEnum} from "./SipLinStatusEnum.ts";

interface ILineStatus {
  Status: SipLinStatusEnum,
  Phone: string,
  CallRecording?: string
  FigFile: string
}

interface ISystemStatus {
  LineStatuses: Array<ILineStatus>
  CurrentStepStatus: string
  NextStepStatus: string
  PreviousStepStatus: string
}

const phone1 = ref('')
const phone2 = ref('')
const callFlowConfiguration = ref('Safeco')
const linesStatus = ref<Array<SipLinStatusEnum>>([]);
const rawLineStatusesResponse = ref<ISystemStatus>({
  LineStatuses: [],
  CurrentStepStatus: '',
  NextStepStatus: '',
  PreviousStepStatus: ''
});

const callRecording = ref('')
const figFile = ref('')

const intervalId = setInterval(async () => {
  const response = await axios.get(`/QMPhoneDemo/Status`);
  rawLineStatusesResponse.value = response.data;
  linesStatus.value = response.data.LineStatuses.map((o: { Status: SipLinStatusEnum }) => o['Status'])

  const line0Status = response.data.LineStatuses[0];
  callRecording.value = line0Status.CallRecording
  figFile.value = line0Status.FigFile
}, 1000)

const phoneToMergeWith = computed(() => {
  if (linesStatus.value[0] != SipLinStatusEnum.CallAnswered || linesStatus.value[1] != SipLinStatusEnum.CallAnswered) return undefined

  return rawLineStatusesResponse.value.LineStatuses[1].Phone;
})

const phoneLine1Updated = (newVal: string) => {
  phone1.value = newVal;
}
const phoneLine2Updated = (newVal: string) => {
  phone2.value = newVal;
}

onBeforeUnmount(() => {
  if (intervalId) {
    clearInterval(intervalId)
  }
})

const sendingRequest = ref(false)
const waitingForThreeLeggedCall = ref(false)
const performAction = async (action: string) => {
  sendingRequest.value = true;
  waitingForThreeLeggedCall.value = false;
  const queryParams = Object.assign({
    action: action,
    callFlowConfiguration: callFlowConfiguration.value,
    payload: {
      phone1: phone1.value,
      phone2: phone2.value,
    }
  })

  try {
    const response = await axios.post(`/QMPhoneDemo/PerformAction`, queryParams)
    console.log(response)
    waitingForThreeLeggedCall.value = true;
  } catch (e) {
    alert('There was an error requesting the server')
  } finally {
    sendingRequest.value = false;
  }
}

</script>

<style scoped>

</style>