﻿<template>
    <div class="form-group d-flex flex-column ml-1 mr-1">
        <combobox-input :label="label"
                        :itemsSource="displayAccountSources"
                        valuePath="Code"
                        InputWidth="150"
                        :disabled="!!fixedAccountSource"
                        v-bind:modelValue="modelValue"
                        v-on:input="$emit('update:modelValue', $event.target.value)" />
    </div>
</template>
<script setup>
    import { computed, ref, onMounted, defineProps } from "vue"
    const props = defineProps({
        label: { type: String, default: '' },
        fixedAccountSource: {type: String, default: ''},  
        modelValue: { type: String, default: '' }
    })
    const displayAccountSources = ref([])
    onMounted(() => {
        displayAccountSources.value = window.accountSources;
    });
</script>
