﻿<template>
    <div>
        <group-box
            style="margin-left: 0"
            :header="header || 'Address'">
            <div>
                <text-box-input linesLimit="3"
                                inputWidth="Auto"
                                placeholder="Street Address--NL--Three Lines Max"
                                v-model="lead[modelField].street" />

                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <text-box-input placeholder="City"
                                                inputWidth="Auto"
                                                v-model="lead[modelField].city" />
                            </td>
                            <td>
                                <combobox-input :itemsSource="statesProvinces"
                                                valuePath="Code"
                                                InputWidth="Auto"
                                                v-model="lead[modelField].state" />
                            </td>
                            <td>
                                <text-box-input placeholder="Zip"
                                                InputWidth="Auto"
                                                v-model="lead[modelField].zip" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </group-box>
    </div>

</template>

<script setup>
    import {ref} from "vue";

    const props = defineProps({ lead: { type: Object }, header: {type: String}, modelField: {type: String, default: 'applicantAddress'} })
    const statesProvinces = ref(window.statesProvinces)
</script>