﻿<template>
    <stack-panel :orientation="orientation">
        <text-box-input :orientation="textFieldsOrientation"
                        :input-width="textFieldsInputWidth"
                        label="Primary Phone"
                        v-model="lead.applicant.phone" />
        <text-box-input :orientation="textFieldsOrientation"
                        :input-width="textFieldsInputWidth"
                        label="Primary Email"
                        v-model="lead.applicant.email" />
    </stack-panel>
</template>

<script setup>
    import { defineProps } from 'vue'

    const props = defineProps({
        lead: { type: Object },
        orientation: { type: String, default: 'vertical' },
        textFieldsOrientation: { type: String, default: 'horizontal' },
        textFieldsInputWidth: { type: String, default: '120' },
    });

</script>