﻿<template>
  <div>
    <group-box
        style="margin-left: 0"
        v-if="shouldShowAdditionalInterest"
        header="Additional Interest">
      <stack-panel :orientation="orientation">
        <template v-if="pid !== 0 || overrideShowCombobox">
          <combobox-input label="Other Interest"
                          :itemsSource="otherInterests"
                          valuePath="LookupCode"
                          InputWidth="150"
                          v-model="lead.otherInterestLookupCode"/>
        </template>
        <template v-else>
          <div
              v-if="otherInterests.find(o => o.LookupCode === referralPartnerOtherInterect)"
              class="mb-3 text-muted">
            {{ otherInterests.find(o => o.LookupCode === referralPartnerOtherInterect)?.NameOf }}
          </div>
          <div
              v-if="otherInterestAddress1"
              class="text-muted">
            {{ otherInterestAddress1 }}
          </div>
          <div
              v-if="otherInterestAddress2"
              class="text-muted">
            {{ otherInterestAddress2 }}
          </div>
        </template>

        <text-box-input inputWidth="150"
                        label="Loan #"
                        v-if="referralPartnerKind !== 3"
                        v-model="lead.loanNumber"
                        :isEnabled="!!lead.otherInterestLookupCode"/>

      </stack-panel>
    </group-box>
  </div>
</template>

<script setup>
  import {computed, defineProps, ref} from "vue";

  const props = defineProps({
    lead: {type: Object},
    overrideShowCombobox: {type: Boolean, default: false},
    orientation: {type: String, default: 'vertical'},
  })

  const pid = window.pid
  const rid = window.referralPartnerId || 0

  const otherInterestAddress1 = ref(window.otherInterestAddress1)
  const otherInterestAddress2 = ref(window.otherInterestAddress2)
  const otherInterests = ref(window.otherInterests)
  const referralPartnerOtherInterect = ref(window.referralPartnerOtherInterect)
  const referralPartnerKind = ref(window.referralPartnerKind)

  const shouldShowAdditionalInterest = computed(() => {
    return pid || otherInterests.value.find(o => o.LookupCode === referralPartnerOtherInterect) ||
        otherInterestAddress1.value ||
        otherInterestAddress2.value ||
        referralPartnerKind.value !== 3
  })
</script>