﻿<template>
  <div>
    <div v-if="rid !== 0 && referralPartnerBusinessOrIndividual == 1">
      <div class="d-flex justify-content-between align-items-start">
        <GroupBox header="Add Account" class="flex-grow-1">
          <div>
            <Label>Account Name</Label>
            <TextBoxInput Grid.Row="0"
                          Grid.Column="1"
                          Orientation="Horizontal"
                          InputWidth="Auto"
                          v-model="lead.accountName"/>
          </div>
          <Label>1st Named Insured</Label>
          <TextBoxInput Grid.Row="1"
                        :isEnabled="false"
                        Orientation="Horizontal"
                        InputWidth="Auto"
                        v-model="lead.firstNamedInsured"
          />

          <div v-if="false">
            <Label>Account Source</Label>
            <AccountSourcesCombobox
                InputHorizontalAlignment="Left"
                style="width: 100%"
                v-model="lead.accountSource"
            />
          </div>
        </GroupBox>

        <GroupBox header="Primary Information" class="flex-grow-1">
          <Label>First Name</Label>
          <TextBoxInput Orientation="Horizontal"
                        v-model="lead.applicant.firstName"
                        InputWidth="Auto"/>

          <Label>Last Name</Label>
          <TextBoxInput
              Orientation="Horizontal"
              v-model="lead.applicant.lastName"
              InputWidth="Auto"/>
        </GroupBox>
      </div>

      <div style="display: grid; grid-template-columns: 2fr 1fr;">
        <div>
          <account-address-control :header="referralPartnerMode ? 'Current/Previous Address' : 'Address'"
                                   :lead="lead"/>
        </div>

        <GroupBox header="Contacts" Grid.Column="1">
          <AccountContactsControl
              :lead="lead"/>
        </GroupBox>
      </div>

      <div style="display: grid; grid-template-columns: 2fr 1fr;">
        <account-additional-interest
            :override-show-combobox="true"
            :lead="lead"/>
      </div>

      <div>
        <GroupBox
            style="margin-left:0;margin-right:0;"
            header="Opportunity/Policy settings">

          <StackPanel Grid.ColumnSpan="2" orientation="Horizontal">
            <Label style="font-weight: Bold; padding: 0 5px 5px 5px;">
              Policy lines
            </Label>

            <!--          <CheckboxComponent-->
            <!--              Visibility="{Binding IsNewShellsCreationLogic, Converter={StaticResource BooleanToVisibilityConverterReversed}}"-->
            <!--              style='margin: 7px 7px 5px 5px;'-->
            <!--              v-model:checked="lead.createShellsAsCommercialPackage"-->
            <!--              content="Create policies as a Commercial Package"/>-->
          </StackPanel>

          <div class="d-flex">
            <GroupBox Header="Liability">
              <StackPanel>
                <BusinessPolicyLine
                    PolicyTypeCode="CUMB"
                    v-model:IsChecked="lead.policyLines['CUMB']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['CUMB']"
                    v-model:Premium="lead.premiums['CUMB']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="GLIA"
                    v-model:IsChecked="lead.policyLines['GLIA']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['GLIA']"
                    v-model:Premium="lead.premiums['GLIA']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <!--                <StackPanel-->
                <!--                    Orientation="Horizontal"-->
                <!--                    Visibility="{Binding-->
                <!--                    PolicyLines[GLIA],-->
                <!--                    Converter={StaticResource  BooleanToVisibilityConverter}}">-->
                <!--                  <TextBlock VerticalAlignment="Center">General Liability Prefill:</TextBlock>-->
                <!--                  &lt;!&ndash;                <ComboboxComponent &ndash;&gt;-->
                <!--                  &lt;!&ndash;                    ItemsSource="GLIAPrefills"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          Margin="5,0,10,0"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          Padding="7,8"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          DisplayMemberPath="DescriptionOf"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          SelectedValuePath="UniqPrefill"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          SelectedItem="{Binding Lead.GLIAPrefill, ElementName=BusinessAccountPolicyLinesControl}"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          VerticalAlignment="Center"/>&ndash;&gt;-->
                <!--                </StackPanel>-->

                <BusinessPolicyLine
                    PolicyTypeCode="E&amp;O"
                    v-model:IsChecked="lead.policyLines['E&O']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['E&O']"
                    v-model:Premium="lead.premiums['E&O']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="D&amp;O"
                    v-model:IsChecked="lead.policyLines['D&O']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['D&O']"
                    v-model:Premium="lead.premiums['D&O']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="CYBR"
                    v-model:IsChecked="lead.policyLines['CYBR']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['CYBR']"
                    v-model:Premium="lead.premiums['CYBR']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="CRIM"
                    v-model:IsChecked="lead.policyLines['CRIM']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['CRIM']"
                    v-model:Premium="lead.premiums['CRIM']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="EPLI"
                    v-model:IsChecked="lead.policyLines['EPLI']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['EPLI']"
                    v-model:Premium="lead.premiums['EPLI']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="EQFL"
                    v-model:IsChecked="lead.policyLines['EQFL']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['EQFL']"
                    v-model:Premium="lead.premiums['EQFL']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>
              </StackPanel>
            </GroupBox>

            <GroupBox Header="Property">
              <StackPanel>
                <BusinessPolicyLine
                    PolicyTypeCode="CFLD"
                    v-model:IsChecked="lead.policyLines['CFLD']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['CFLD']"
                    v-model:Premium="lead.premiums['CFLD']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="EQ-C"
                    v-model:IsChecked="lead.policyLines['EQ-C']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['EQ-C']"
                    v-model:Premium="lead.premiums['EQ-C']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="BRSK"
                    v-model:IsChecked="lead.policyLines['BRSK']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['BRSK']"
                    v-model:Premium="lead.premiums['BRSK']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="PROP"
                    v-model:IsChecked="lead.policyLines['PROP']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['PROP']"
                    v-model:Premium="lead.premiums['PROP']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>
              </StackPanel>
            </GroupBox>

            <GroupBox Header="Other">
              <StackPanel>
                <BusinessPolicyLine
                    PolicyTypeCode="BAUT"
                    v-model:IsChecked="lead.policyLines['BAUT']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['BAUT']"
                    v-model:Premium="lead.premiums['BAUT']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="WCOM"
                    v-model:IsChecked="lead.policyLines['WCOM']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['WCOM']"
                    v-model:Premium="lead.premiums['WCOM']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>

                <BusinessPolicyLine
                    PolicyTypeCode="BOP"
                    v-model:IsChecked="lead.policyLines['BOP']"
                    :IsPolicyStandalone="lead.standalonePolicyLines['BOP']"
                    v-model:Premium="lead.premiums['BOP']"
                    :CPKGPremium="lead.opportunityPremium"
                    :MakePolicyPartOfPackage="BusinessPolicyLine_OnMakePolicyPartOfPackage($event)"
                    :MakePolicyStandalone="BusinessPolicyLine_OnMakePolicyStandalone($event)"
                    :CommercialPackageEnabled="lead.createShellsAsCommercialPackage"
                    :PolicyLineToggled="BusinessPolicyLine_OnPolicyLineToggled($event)"
                    :PremiumChanged="BusinessPolicyLine_OnPremiumChanged($event)"/>
              </StackPanel>
            </GroupBox>

            <stack-panel orientation="vertical">
              <date-picker-input orientation="vertical"
                                 input-width="120"
                                 label="Effective Date"
                                 v-model="lead.effectiveDate"/>
              <date-picker-input orientation="vertical"
                                 input-width="120"
                                 label="Expiration Date"
                                 v-model="lead.expirationDate"/>
            </stack-panel>
          </div>
        </GroupBox>
      </div>

      <div class="d-flex flex-row align-items-baseline">
        <button class="btn btn-primary"
                Margin="10"
                Padding="3,8"
                @click="submitForm"
                :disabled="!leadIsValid">
          Submit
        </button>

        <div class="ml-3 alert alert-warning" v-if="!leadIsValid">{{ leadFirstError }}</div>
      </div>
    </div>

    <div v-else-if="pid !== 0 || rid !== 0">
      <h6 class="mb-3" v-if="producerName">Producer: {{ producerName }}</h6>
      <h6 class="mb-3" v-if="referralPartnerName">ReferralPartner: {{ referralPartnerName }}</h6>
      <!--{{lead}}-->

      <stack-panel orientation="Vertical">
        <group-box header="Add Account">
          <stack-panel orientation="Vertical">
            <stack-panel orientation="Horizontal">

              <text-box-input label="First Name" v-model="lead.applicant.firstName"/>
              <text-box-input label="Last Name" v-model="lead.applicant.lastName"/>

              <div v-show="!referralPartnerMode">
                <account-sources-combobox orientation="Vertical"
                                          label="Account Source"
                                          :fixed-account-source="fixedAccountSource"
                                          v-model="lead.accountSource"/>
              </div>
              <date-picker-input label="Date of birth" v-model="lead.applicant.dateOfBirth"/>
            </stack-panel>

            <stack-panel orientation="Horizontal">
              <account-contacts-control textFieldsInputWidth="120"
                                        orientation="Horizontal"
                                        :lead="lead"/>

              <template v-if="!referralPartnerMode">
                <text-box-input label="DL#" v-model="lead.applicant.driversLicenseNumber"/>
                <combobox-input label="DL state"
                                :itemsSource="statesProvinces"
                                valuePath="Code"
                                InputWidth="Auto"
                                v-model="lead.applicant.driverLicenseStateLicensed"/>
              </template>
            </stack-panel>

            <a href="#" v-on:click="lead.useCoApplicant = !lead.useCoApplicant">
              <template v-if="!lead.useCoApplicant">
                Add a Co-Applicant
              </template>
              <template v-else>
                Remove the Co-Applicant
              </template>
            </a>

          </stack-panel>
        </group-box>

        <div>

          <table>
            <tr>
              <td style="vertical-align: top">
                <account-additional-interest orientation="Vertical" :lead="lead"/>
              </td>
              <td style="vertical-align: top">
                <group-box
                    style="margin-right: 0"
                    Grid.Column="1"
                    header="Co-Applicant"
                    :isEnabled="lead.useCoApplicant">
                  <!--<group-box.Style>
                      <Style TargetType="group-box">
                          <Setter Property="Opacity" Value="0.235" > </Setter >
                          <Style.Triggers >
                          <DataTrigger
                          Binding="{Binding Lead.CoApplicant, Converter={StaticResource NullOrEmptyToBooleanConverter}}"
                          Value="true" >
                          <Setter Property="Opacity" Value="1" >
                          </DataTrigger >
                          </Style.Triggers >
                      </Style>
                  </group-box.Style>-->
                  <div>
                    <table>
                      <tr>
                        <td>
                          <text-box-input label="First Name" v-model="lead.coApplicant.firstName"/>
                        </td>
                        <td>
                          <text-box-input Grid.Row="0" Grid.Column="1" label="Last Name"
                                          v-model="lead.coApplicant.lastName"/>
                        </td>
                        <td>
                          <date-picker-input Grid.Row="0" Grid.Column="2" label="Date of birth"
                                             v-model="lead.coApplicant.dateOfBirth"/>
                        </td>
                        <td></td>

                      </tr>
                      <tr>
                        <td>
                          <text-box-input InputWidth="Auto" label="Primary Phone" v-model="lead.coApplicant.phone"/>
                        </td>
                        <td>
                          <text-box-input InputWidth="Auto" label="Primary Email" v-model="lead.coApplicant.email"/>
                        </td>
                        <td>
                          <text-box-input v-if="!referralPartnerMode"
                                          label="DL#" v-model="lead.coApplicant.driversLicenseNumber"/>
                        </td>
                        <td>
                          <combobox-input v-if="!referralPartnerMode"
                                          label="DL state"
                                          :itemsSource="statesProvinces" valuePath="Code" InputWidth="Auto"
                                          v-model="lead.coApplicant.driverLicenseStateLicensed"/>
                        </td>
                      </tr>
                    </table>
                  </div>
                </group-box>
              </td>
            </tr>
          </table>


        </div>

        <div>
          <account-address-control
              :header="referralPartnerMode ? 'Current/Previous Address' : 'Address'"
              :lead="lead"/>
          <template v-if="referralPartnerMode">
            <checkbox-input :checked="lead.useSubjectPropertyAddress"
                            v-on:change="lead.useSubjectPropertyAddress = $event"
                            content="Is Subject property address different from Current/Previous Address?"
                            Tag="HOME"/>

            <account-address-control v-if="lead.useSubjectPropertyAddress"
                                     header="Subject Property Address"
                                     :lead="lead"
                                     model-field="subjectPropertyAddress"/>
          </template>
        </div>

        <div v-if="referralPartnerMode"
             class="d-flex">
          <date-picker-input label="Estimated Closing Date" v-model="lead.effectiveDate"/>

          <combobox-input label="Purpose of Loan"
                          :itemsSource="loanPurposes"
                          valuePath="Code"
                          InputWidth="Auto"
                          v-model="lead.loanPurpose"/>

          <combobox-input label="Property Use"
                          :itemsSource="propertyUses"
                          valuePath="Code"
                          InputWidth="Auto"
                          v-model="lead.propertyUse"/>


        </div>
        <div v-else>
          <date-picker-input label="Insurance Effective Date" v-model="lead.effectiveDate"/>
        </div>

        <div v-if="referralPartnerMode">
          <combobox-input label="Loan officer / Loan processor / Real Estate Agent"
                          :itemsSource="loLpReaOptions"
                          valuePath="Code"
                          InputWidth="Auto"
                          v-model="loLpRea"/>


          <group-box :header="loLpReaOptions.find(o => o.Code === loLpRea)?.Description" v-if="loLpRea">
            <text-box-input InputWidth="Auto" label="Name" v-model="lead[loLpRea].Name"/>
            <text-box-input InputWidth="Auto" label="Phone" v-model="lead[loLpRea].Phone"/>
            <text-box-input InputWidth="Auto" label="Email" v-model="lead[loLpRea].Email"/>
          </group-box>
        </div>


        <div v-show="!referralPartnerMode">
          <group-box
              style="margin-left: 0; margin-right: 0;"
              header="Opportunity/Policy settings">
            <personal-lead-policy-lines :lead="lead"/>
          </group-box>
        </div>
      </stack-panel>

      <div style="padding: 10px 0">

        <div>
          <text-block :text="statusText"
                      v-if="statusText"
                      class="alert alert-info"/>
        </div>
      </div>

      <div class="d-flex flex-row align-items-baseline">
        <button class="btn btn-primary"
                Margin="10"
                Padding="3,8"
                @click="submitForm"
                :disabled="!leadIsValid">
          Submit
        </button>

        <div class="ml-3 alert alert-warning" v-if="!leadIsValid">{{ leadFirstError }}</div>
      </div>

    </div>
    <div v-else>
      <div class="alert alert-danger">Invalid link</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {reactive, ref, watch, computed, inject} from "vue"
import moment from 'moment'
import BusinessPolicyLine from "./AddLeadViews/Partials/BusinessPolicyLine.vue";

const pid = window.pid
const rid = window.referralPartnerId || 0
const referralPartnerBusinessOrIndividual = window.referralPartnerBusinessOrIndividual
const businessReferralPartner = rid > 0 && referralPartnerBusinessOrIndividual == 1;

const producerName = window.producerName
const referralPartnerName = window.referralPartnerName
const fixedAccountSource = window.referralPartnerAccountSource

const referralPartnerMode = pid === 0 && rid !== 0;

const axios = inject('axios')
const statusText = ref('')
const statesProvinces = window.statesProvinces
const lead = reactive({
  applicant: {},
  accountName: '',
  firstNamedInsured: '',
  applicantAddress: {},
  useSubjectPropertyAddress: false,
  subjectPropertyAddress: {},
  coApplicant: {},
  useCoApplicant: false,
  accountSource: fixedAccountSource,
  effectiveDate: '',
  expirationDate: '',
  propertyUse: '',
  otherInterestLookupCode: window.referralPartnerOtherInterect,
  loanPurpose: '',
  standalonePolicyLines: {
    "BAUT": false,
    "PROP": false,
    "CUMB": false,
    "GLIA": false,
    "WCOM": false,
    "BOP": false,
    "E&O": false,
    "EPLI": false,
    "D&O": false,
    "CYBR": false,
    "CRIM": false,
    "EQ-C": false,
    "CFLD": false,
    "EQFL": false,
    "BRSK": false,
  },
  policyLines: {
    HOME: !businessReferralPartner,
    HOME2: false,
    CYCL: false,
    AUTO: !businessReferralPartner,
    FIRE: false,
    PUMB: false,
    PFLD: false,
    MHOM: false,
    INLM: false,
    'EQ-P': false,
    REC: false,
    BOAT: false,
    "BAUT": false,
    "PROP": false,
    "CUMB": false,
    "GLIA": false,
    "WCOM": false,
    "BOP": false,
    "E&O": false,
    "EPLI": false,
    "D&O": false,
    "CYBR": false,
    "CRIM": false,
    "EQ-C": false,
    "CFLD": false,
    "EQFL": false,
    "BRSK": false,
  },
  createShellsAsCommercialPackage: false,
  opportunityPremium: 0,
  premiums: {},
  rentalPropertyShells: '1',
  loanOfficer: {},
  loanProcessor: {},
  realEstateAgent: {},
  valid: () => {
    return false;
  }
});

const loanPurposes = [
  {"Code": "Purchase", "Description": "Purchase"},
  {"Code": "Refinance", "Description": "Refinance"},
  {"Code": "Other", "Description": "Other"}
]
const propertyUses = [
  {"Code": "Primary", "Description": "Primary"},
  {"Code": "Secondary", "Description": "Secondary"},
  {"Code": "Rental", "Description": "Rental"},
  {"Code": "Vacant", "Description": "Vacant"},
]
const leadFirstError = ref('')

const loLpReaOptions = [
  {"Code": "loanOfficer", "Description": "Loan Officer/Processor"},
  //{ "Code": "loanProcessor", "Description": "Loan Processor" },
  {"Code": "realEstateAgent", "Description": "Real Estate Agent"},
  {"Code": "homeBuyer", "Description": "Home Buyer"},
]
const loLpRea = ref('')
if (window.referralPartnerKind) {
  switch (window.referralPartnerKind) {
    case 1:
      loLpRea.value = 'loanOfficer';
      break;
    case 2:
      loLpRea.value = 'loanProcessor';
      break;
    case 3:
      loLpRea.value = 'realEstateAgent';
      break;
    case 4:
      loLpRea.value = 'homeBuyer';
      break;
  }
}

watch(() => lead, () => {
  const m = moment(lead.effectiveDate, "MM/DD/YYYY");

  lead.firstNamedInsured = lead.accountName;

  if (m.isValid()) {
    lead.expirationDate = m.add(1, 'month').format("MM/DD/YYYY");
    console.log(lead.expirationDate)
  }

}, {deep: true})

lead.effectiveDate = moment().add(1, 'month').format('MM/DD/YYYY')

const setError = (error) => {
  leadFirstError.value = error;
  return false;
}

const validateApplicant = (applicant, name = '') => {
  const entityName = name ? `${name} ` : '';

  if (!applicant.firstName) {
    return setError(entityName + 'First Name can not be empty');
  }
  if (!applicant.lastName) {
    return setError(entityName + 'Last Name can not be empty');
  }
  if (!applicant.email) {
    return setError(entityName + 'Email can not be empty');
  }
  if (!businessReferralPartner && !applicant.dateOfBirth) {
    return setError(entityName + 'DOB can not be empty');
  }
  if (!applicant.email.match(/.+@.+/)) {
    return setError(entityName + 'Email is invalid');
  }

  if (!applicant.phone) {
    return setError(entityName + 'Phone number can not be empty');
  }
  if (applicant.phone.replace(/[^0-9]*/g, '').length !== 10) {
    return setError(entityName + 'Phone number require exactly ten digits');
  }
  console.log(applicant.phone[0])
  if (applicant.phone[0].toString() == '0' || applicant.phone[0].toString() == '1') {
    return setError(entityName + 'North American phone numbers cannot begin with 0 or 1');
  }

  return true;
}

const validateApplicantAddress = (address) => {
  if (!address.state) {
    return setError('State can not be empty');
  }
  if (!address.zip) {
    return setError('Zip code can not be empty');
  }
  if (!address.city) {
    return setError('City can not be empty');
  }
  if (!address.street) {
    return setError('Street can not be empty');
  }

  return true;
}

const leadIsValid = computed(() => {
  leadFirstError.value = "";
  const leadValue = lead;

  if (!leadValue.accountSource) {
    return setError('Account Source can not be empty');
  }
  if (!validateApplicant(leadValue.applicant)) return false;
  if (leadValue.useCoApplicant && !validateApplicant(leadValue.coApplicant, "Co-Applicant's")) return false;
  if (!validateApplicantAddress(leadValue.applicantAddress)) return false;

  if (leadValue.useSubjectPropertyAddress && !validateApplicantAddress(leadValue.subjectPropertyAddress)) return false;

  if (!leadValue.effectiveDate) {
    return setError('Effective date can not be empty');
  }
  if (!leadValue.expirationDate) {
    return setError('Expiration date can not be empty');
  }

  if (referralPartnerMode && !businessReferralPartner) {
    if (!leadValue.loanPurpose) {
      return setError('Loan Purpose can not be empty');
    }
    if (!leadValue.propertyUse) {
      return setError('Property Use can not be empty');
    }
  }

  if (referralPartnerMode && businessReferralPartner) {
    const premiumValues = Object.values(lead.premiums);
    if (premiumValues.length == 0) {
      return setError('Please select at least one policy line');
    }
    const invalidPremiums = premiumValues.filter(p => isNaN(parseInt(p)) || parseInt(p) <= 0);
    if (invalidPremiums.length) {
      return setError('All premiums should be positive numbers');
    }
  }

  const effectiveDateAsDate = Date.parse(leadValue.effectiveDate);
  if (isNaN(effectiveDateAsDate)) {
    return setError('Effective date is not a date');
  }
  const expirationDateAsDate = Date.parse(leadValue.expirationDate);
  if (isNaN(expirationDateAsDate)) {
    return setError('Expiration date is not a date');
  }

  if (effectiveDateAsDate >= expirationDateAsDate) {
    return setError('Effective date should be before the expiration date');
  }

  /*RuleFor(lead => lead.ShellTypesToCreate).NotEmpty().WithMessage("At least one policy line have to be checked");*/

  return true;

})

const submitForm = async () => {
  try {
    const result = await axios.post('/api/v1/leads?pid=' + pid + '&rid=' + rid, lead, {headers: {"X-Api-Key": window.apiKey}})
    alert("Your lead was submitted");
  } catch (e) {
    alert("There was an error while submitting a lead");
  }
  console.log({result})
}

const BusinessPolicyLine_OnMakePolicyPartOfPackage = (policyType: string) => {
  console.log('BusinessPolicyLine_OnMakePolicyPartOfPackage', policyType)
}
const BusinessPolicyLine_OnMakePolicyStandalone = (policyType: string) => {
  console.log('BusinessPolicyLine_OnMakePolicyStandalone', policyType)
}
const BusinessPolicyLine_OnPolicyLineToggled = (policyType: string) => {
  console.log('BusinessPolicyLine_OnPolicyLineToggled', policyType)
}
const BusinessPolicyLine_OnPremiumChanged = (policyType: string) => {
  console.log('BusinessPolicyLine_OnPremiumChanged', policyType)
}
</script>

<style>
</style>