﻿<template>
  <div class="form-group d-flex flex-row ml-1 mr-1 mt-0 mb-0">
    <label v-if="content">
      <input type="checkbox"
             :disabled="!enabled"
             v-bind:checked="checked"
             v-on:change="emitChange($event.target.checked)"/>
      {{ content }}
    </label>
  </div>
</template>

<script setup>
import {defineProps, defineEmits} from "vue"

const props = defineProps({
  content: {type: String},
  checked: {type: Boolean, default: false},
  enabled: {type: Boolean, default: true}
})

const emit = defineEmits(['change'])

const emitChange = (checked) => {
  emit('change', checked)
  emit('update:checked', checked)
  console.log('emitted update:change', checked)
}
</script>