﻿<template>
    <div class="form-group d-flex flex-column ml-1 mr-1">
        <label>
            {{label}}
            <select v-bind:value="modelValue"
                    v-on:input="emitInput"
                    :disabled="disabled"
                    placeholder=""
                    class="form-control">
                <option disabled value> Please select... </option>
                <option v-for="item in itemsSource" :value="item[valuePath]">{{ item[displayMember] || item.Description }}</option>
            </select>
        </label>
    </div>
</template>

<script setup>
    import { computed } from "vue"

    const props = defineProps({
        label: { type: String },
        itemsSource: { type: Array },
        displayMember: { type: String, default: 'Description' },
        valuePath: { type: String, default: 'Code' },
        modelValue: { type: [String, Number, undefined] },
        disabled: { type: Boolean, default: false },
    })

    const emit = defineEmits(['update:modelValue'])

    const emitInput = ($event) => {
        emit('update:modelValue', $event.target.value)
    }
</script>