﻿<template>
    <div class="form-group d-flex flex-column ml-1 mr-1">
        <label>
            {{label}}
            <input ref="dateInput" 
                   type="text" 
                   class="form-control"
                   v-bind:value="modelValue"
                   v-on:input="$emit('update:modelValue', $event.target.value)" />
        </label>
    </div>
</template>

<script setup>
    import { ref, onMounted, defineProps } from "vue"

    const props = defineProps(['label', 'modelValue'])
    const dateInput = ref(undefined)
    const emit = defineEmits(['update:modelValue'])

    onMounted(() => {
        $(dateInput.value).datepicker({
            autoclose: true
        });

        $(dateInput.value).on('hide', (e) => { emit('update:modelValue', e.target.value) });
    })

</script>