﻿<template>
    <div class="groupbox">
        <fieldset :disabled="!isEnabled">
          <div class="groupbox-header">{{header}}</div>

<!--          <legend style="font-size: 15px; font-weight: bold">{{header}}</legend>-->
            <slot />
        </fieldset>
    </div>
</template>

<script setup>
    const props = defineProps({
        'header': { type: String, default: '' },
        'isEnabled': { type: Boolean, default: true }
    })
</script>

<style scoped>
.groupbox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.2em 1em 1em 1em;
  position: relative;
  margin: 0.5em;
}
.groupbox-header {
  position: absolute;
  top: -0.8em;
  left: 1em;
  background: #fff;
  padding: 0 0.5em;
  font-weight: bold;
}
</style>