﻿<template>
    <stack-panel orientation="Horizontal">
        <stack-panel>
            <stack-panel Margin="0,0,10,0">
                <label FontWeight="Bold" Padding="0,5,5,5">Policy lines</label>

                <stack-panel orientation="horizontal">
                    <stack-panel>
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.HOME"
                                        v-on:change="lead.policyLines.HOME = $event"
                                        content="Homeowners"
                                        :enabled="enableHomeAndAuto"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="HOME" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.HOME2"
                                        v-on:change="lead.policyLines.HOME2 = $event"
                                        content="Secondary Home"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="HOME2" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.AUTO"
                                        v-on:change="lead.policyLines.AUTO = $event"
                                        content="Personal Automobile"
                                        :enabled="enableHomeAndAuto"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="AUTO" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.FIRE"
                                        v-on:change="lead.policyLines.FIRE = $event"
                                        content="Dwelling fire"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="FIRE" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.PUMB"
                                        v-on:change="lead.policyLines.PUMB = $event"
                                        content="Personal Umbrella"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="PUMB" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.PFLD"
                                        v-on:change="lead.policyLines.PFLD = $event"
                                        content="Personal Flood"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="PFLD" />
                    </stack-panel>
                    <stack-panel>
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.MHOM"
                                        v-on:change="lead.policyLines.MHOM = $event"
                                        content="Mobile Home"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="MHOM" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.INLM"
                                        v-on:change="lead.policyLines.INLM = $event"
                                        content="Personal Article Floater"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="INLM" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines['EQ-P']"
                                        v-on:change="lead.policyLines['EQ-P'] = $event"
                                        content="Earthquake"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="EQ-P" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.REC"
                                        v-on:change="lead.policyLines.REC = $event"
                                        content="Recreational Vehicle"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="REC" />
                        <checkbox-input Margin="5,0"
                                        :checked="lead.policyLines.BOAT"
                                        v-on:change="lead.policyLines.BOAT = $event"
                                        content="Boat"
                                        Click="PolicyLinecheckbox_Toggle"
                                        Tag="BOAT" />
                    </stack-panel>
                </stack-panel>
            </stack-panel>
            <stack-panel orientation="Horizontal"
                         v-if="lead.policyLines.FIRE">
                <text-block VerticalAlignment="Center" text="Rental Property Shells:"></text-block>
                <combobox-input :itemsSource="rentalPropertyShells"
                                Margin="5,0,10,0"
                                Padding="7,8"
                                v-model="lead.rentalPropertyShells"
                                displayMember="value"
                                valuePath="key"
                                VerticalAlignment="Center" />
            </stack-panel>
        </stack-panel>

        <stack-panel orientation="Vertical">
            <date-picker-input label="Effective Date" v-model="lead.effectiveDate" />
            <date-picker-input label="Expiration Date" v-model="lead.expirationDate" />
        </stack-panel>
    </stack-panel>

</template>

<script setup>
    import { ref, watch, computed } from "vue"

    const props = defineProps({ lead: { type: Object } })
    const rentalPropertyShells = computed(() => {
        return window.rentalPropertyShells.map(a => { return { key: a, value: a } })
    });

    const enableHomeAndAuto = false;
</script>