﻿<template>
    <div class="d-flex align-items-baseline" :class="orientation.toLowerCase() === 'vertical' ? 'flex-column' : 'flex-row'">
        <slot />
    </div>
</template>

<script setup>
    const props = defineProps({ orientation: { type: String, default: 'vertical' } })
</script>