﻿<template>
    <div class="form-group d-flex flex-column ml-1 mr-1">
        <label for="tf-input">
            {{label}}
            <input v-if="!linesLimit"
                   type="text"
                   :placeholder="placeholder"
                   class="form-control"
                   :disabled="!isEnabled"
                   v-bind:value="modelValue"
                   v-on:input="$emit('update:modelValue', $event.target.value)" />
            <textarea v-else
                      :placeholder='placeholder.replace("--NL--", "\n")'
                      v-bind:value="modelValue"
                      v-on:input="$emit('update:modelValue', $event.target.value)"
                      class="form-control"
                      :rows="linesLimit" />
        </label>
    </div>
</template>

<script setup>
    const props = defineProps({
        label: { type: String, default: '' },
        isEnabled: { type: Boolean, default: true },
        modelValue: { type: String, default: '' },
        linesLimit: { type: String },
        placeholder: { type: String },
        orientation: { type: String, default: 'horizontal' },
    })
</script>