<template>
    <router-view />
</template>

<script setup lang="ts">
    import {onMounted, provide, ref} from "vue";
    import {loadStripe} from "@stripe/stripe-js";
    import {Stripe} from "@stripe/stripe-js";


    const  stripe = ref<Stripe | undefined>();
    provide('stripe', stripe);

    onMounted(async () => {
      const loadedStripe = await loadStripe('pk_test_RJs5bB7Gm94FmYfUPbqCqAko00a7oFmg7x');
      if (loadedStripe) {
        stripe.value = loadedStripe;
      }
    })
</script>

<style>
@import "bootstrap/dist/css/bootstrap.min.css";

.fv-plugins-message-container {
  --input-invalid-color: var(--bs-danger);
  margin-top: 0.3rem;

  .fv-help-block {
    color: var(--bs-danger);
    font-size: 1rem;
    font-weight: 400;
  }

  &.valid-feedback,
  &.invalid-feedback {
    display: block;
    font-weight: 400;
  }
}

</style>