<template>
  <a
      v-if="!coverageExpanded"
      @click.prevent="coverageExpanded = !coverageExpanded"
      href="#">expand</a>

  <template
      v-else
  >
    <a
        @click.prevent="coverageExpanded = !coverageExpanded"
        href="#">collapse</a>
    <div>
      <div class="alert alert-warning p-4 mt-2 fs-6">
        "Amount" in coverages sometimes denotes "money amount" and sometimes quantity.
        <br>Therefore, I didn't put a dollar sign in front of the amount
        <br>The name of a coverage is an internal name and it will take time to put "human-readable" names here
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="coverage in coverages"
        >
          <td>{{ coverage.type }}</td>
          <td>{{ coverage.amount }}</td>
        </tr>
        </tbody>
      </table>
      <a
          @click.prevent="coverageExpanded = !coverageExpanded"
          href="#">collapse</a>
    </div>
  </template>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {Coverage} from "../../interfaces/IBranchQuote.ts";

interface IProps {
  coverages: Coverage[]
}

defineProps<IProps>()

const coverageExpanded = ref(false)
</script>


<style scoped>

</style>