<template>
  <div class="card">
    <div class="card-header">
      <h6>Please enter your information</h6>
    </div>
    <div class="card-body">
      <form @submit.prevent="onSubmit" action="">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="applicant.firstName" class="form-label">First Name</label>
            <Field id="applicant.firstName" name="applicant.firstName" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="applicant.firstName"/>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <label for="applicant.lastName" class="form-label">Last Name</label>
            <Field id="applicant.lastName" name="applicant.lastName" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="applicant.lastName"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="applicant.email" class="form-label">Email</label>
            <Field id="applicant.email" name="applicant.email" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="applicant.email"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="applicant.phone" class="form-label">Phone</label>
            <Field id="applicant.phone" name="applicant.phone" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="applicant.phone"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label for="subjectProperty.street" class="form-label">Street</label>
            <Field id="subjectProperty.street" name="subjectProperty.street" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="subjectProperty.street"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label for="subjectProperty.city" class="form-label">City</label>
            <Field id="subjectProperty.city" name="subjectProperty.city" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="subjectProperty.city"/>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label for="subjectProperty.state" class="form-label">State</label>
            <Field
            as="select"
            id="subjectProperty.state"
            name="subjectProperty.state"
            class="form-control"
            >
            <option
                v-for="state in ALLOWED_STATES"
                :value="state">{{ state}}</option>
            </Field>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="subjectProperty.state"/>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label for="subjectProperty.zip" class="form-label">Zip</label>
            <Field id="subjectProperty.zip" name="subjectProperty.zip" class="form-control"/>
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                <ErrorMessage name="subjectProperty.zip"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
          @click="onSubmit()"
          class="btn btn-primary">Request a quote
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ErrorMessage, Field, useForm} from "vee-validate";
import * as Yup from "yup"

interface IAddress {
  street: string
  city: string
  state: string
  zip: string | number
}

interface IApplicant {
  firstName: string
  lastName: string
  email: string
  phone: string
}

export interface IQuoteForm {
  applicant: IApplicant
  subjectProperty: IAddress
}

const ALLOWED_STATES = [
  "AL", "AR", "AZ", "CO", "DC", "GA", "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MO",
  "MS", "MT", "ND", "NE", "NH", "NM", "OH", "OK", "OR", "PA", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WI",
  "WV", "WY"
];

const {handleSubmit} = useForm<IQuoteForm>({
  initialValues: {
    applicant: {
      firstName: 'Kurt',
      lastName: 'Muldrew-Clean',
      email: 'any@email.com',
      phone: '5555555555'
    },
    subjectProperty: {
      street: '100 Beatrice Rd',
      state: 'OH',
      city: 'Dayton',
      zip: '45404',
    }
  },
  validationSchema: Yup.object().shape({
    applicant: Yup.object().shape({
      firstName: Yup.string().label("First name").required(),
      lastName: Yup.string().label("Last name").required(),
      email: Yup.string().label("Email").required(),
      phone: Yup.string().label("Phone").required(),
    }),
    subjectProperty: Yup.object().shape({
      street: Yup.string().label("Street").required(),
      city: Yup.string().label("City").required(),
      state: Yup.string().label("State").required().test('state_is_allowed', "Please use one of the allowed states", (value: string) => ALLOWED_STATES.indexOf(value) > -1),
      zip: Yup.string().label("Zip").required(),
    })
  })
})

const emit = defineEmits(['quote-form-submitted'])
const onSubmit = handleSubmit( (values: IQuoteForm) => {
  emit('quote-form-submitted', values)
})

</script>

<style scoped>

</style>