<template>
  <div
      class="mt-3"
      v-if="branchQuote">
    <div
        v-for="(option, index) in branchQuote.options"
        :key="option.id"
        class="alert alert-info d-flex flex-wrap justify-content-between align-items-center">
      <quote-option
          :option="option"
          :index="index"
          @on-purchase-clicked="$emit('on-purchase-clicked', $event)"
      />
    </div>

    <hr>

    <div
        v-if="quote"
        class="alert alert-info">
      <b>Quote Details:</b>

      <br>
      <div>Email: {{ quote.email }}</div>
      <div>Phone: {{ quote.phone }}</div>
      <div>Corrected address: {{ correctedAddressAsString() }}</div>
      <div>Drivers:
        <ul>
          <li
              v-for="driver in quote.drivers"
          >
            {{ driver.firstName }} {{ driver.lastName }}
            <template v-if="driver.isPrimary">
              (primary)
            </template>
          </li>
        </ul>
      </div>
      <div>Cars:
        <ul>
          <li
              v-for="vehicle in quote.cars"
          >
            {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
          </li>
        </ul>
      </div>
      <div>
        Home: (raw data) <a @click.prevent="homeDataExpanded = !homeDataExpanded"
                            href="#">{{ homeDataExpanded ? 'hide' : 'show' }}</a>
        <template v-if="homeDataExpanded">
          <ul>
            <li
                v-for="(value, key) in quote.home"
            ><b>{{ key }}</b>: {{ value }}
            </li>
          </ul>
        </template>
      </div>
      <div>
        Home coverages <a @click.prevent="homeCoveragesExpanded = !homeCoveragesExpanded"
                          href="#">{{ homeCoveragesExpanded ? 'hide' : 'show' }}</a>
        <template v-if="homeCoveragesExpanded">
          <ul>
            <li
                v-for="(value, key) in quote.homeCoverage"
            ><b>{{ key }}</b>: {{ value }}
            </li>
          </ul>
        </template>
      </div>
      <div>
        Auto coverages <a @click.prevent="autoCoveragesExpanded = !autoCoveragesExpanded"
                          href="#">{{ autoCoveragesExpanded ? 'hide' : 'show' }}</a>
        <template v-if="autoCoveragesExpanded">
          <ul>
            <li
                v-for="(value, key) in quote.autoCoverage"
            ><b>{{ key }}</b>: {{ value }}
            </li>
          </ul>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {IBranchQuote} from "../../interfaces/IBranchQuote.ts";
import {ref, toRef} from "vue";
import QuoteOption from "./QuoteOption.vue";

interface IProps {
  branchQuote: IBranchQuote
}

const props = defineProps<IProps>()
const quote = toRef(props.branchQuote, 'quote')
console.log(123, props.branchQuote, quote)

const autoCoveragesExpanded = ref(false)
const homeCoveragesExpanded = ref(false)
const homeDataExpanded = ref(false)

const correctedAddressAsString = () => {
  return [
    quote.value.correctedAddress.address,
    quote.value.correctedAddress.address2,
    quote.value.correctedAddress.city,
    quote.value.correctedAddress.state,
    quote.value.correctedAddress.zip,
  ].filter(o => o).join(", ")
}

defineEmits(['on-purchase-clicked'])

</script>

<style scoped>

</style>