<template>
  <div>
    <div>
      <template v-if="branchQuote">
        <button
            class="btn btn-primary"
            @click="requestAnotherQuote">Request another quote
        </button>
      </template>
      <quote-form
          v-else
          @quote-form-submitted="onQuoteFormSubmitted"
          :disabled="requestInProgress"
      />
      <div class="alert mt-2"
           :class="`alert-${requestAlert.type}`"
           v-if="requestAlert?.type"
      >
        {{ requestAlert.text }}
      </div>
    </div>

    <quote-information
        v-if="branchQuote"
        :branchQuote="branchQuote"
    />
  </div>
</template>

<script setup lang="ts">
import QuoteForm, {IQuoteForm} from "./QuoteForm.vue";
import axios, {AxiosError} from "axios";
import {provide, ref} from "vue";
import {IBranchQuote} from "../../interfaces/IBranchQuote.ts";
import QuoteInformation from "./QuoteInformation.vue";

interface IAlert {
  type: string,
  text: string
}

const requestInProgress = ref(false)
const requestAlert = ref<IAlert>({} as IAlert)
const branchQuote = ref<IBranchQuote | undefined>();

// branchQuote.value = sampleBranchQuote as IBranchQuote;

provide('branchQuote', branchQuote)

const setStillWaiting = () => {
  if (!requestInProgress.value) return;
  requestAlert.value = {
    type: 'info',
    text: 'Please wait, requesting a quote from Branch... still requesting...'
  }
}

const setStillWaiting2 = () => {
  if (!requestInProgress.value) return;
  requestAlert.value = {
    type: 'info',
    text: 'Please wait, requesting a quote from Branch... still requesting... still...'
  }
}

const onQuoteFormSubmitted = async (values: IQuoteForm) => {
  requestInProgress.value = true
  requestAlert.value = {type: 'info', text: 'Please wait, requesting a quote from Branch'}
  branchQuote.value = undefined
  try {
    setTimeout(setStillWaiting, 5000);
    setTimeout(setStillWaiting2, 8000);
    const response = await axios.post('BranchTest/quote', values)
    branchQuote.value = response.data
    requestAlert.value = {} as IAlert
  } catch (e) {
    console.log(e)
    const message = ((e as AxiosError)?.response?.data as any)?.message;
    if (message) {
      requestAlert.value = {type: 'warning', text: 'An error from Branch: ' + message}
    } else {
      requestAlert.value = {type: 'warning', text: 'An unknown error occurred'}
    }
  } finally {
    requestInProgress.value = false
  }
}

const requestAnotherQuote = () => {
  branchQuote.value = undefined;
}

</script>

<style scoped>
@import "../../assets/styles/stripe.scss";
</style>