<template>
  <div>
    <b>Option #{{ index + 1 }} ({{ option.name }})</b>
    <div v-if="option.homeTotal">
      Home (total): ${{ option.homeTotal }}
      <template v-if="option.homeDownPayment">, down payment: ${{ option.homeDownPayment }}</template>
    </div>
    <div v-if="option.autoTotal">
      Auto (total): ${{ option.autoTotal }}
      <template v-if="option.autoDownPayment">, down payment: ${{ option.autoDownPayment }}</template>
    </div>
    <div v-if="option.autoCoverages">
      Auto Coverages: {{ option.autoCoverages.length }}
      <coverages-table :coverages="option.autoCoverages"/>
    </div>
    <div v-if="option.homeCoverages">
      Home Coverages: {{ option.homeCoverages.length }}
      <coverages-table :coverages="option.homeCoverages"/>
    </div>
  </div>
  <div :id="`option-${option.id}-payment`">
    <a
        v-if="showPurchaseButton"
        @click.prevent="onPurchaseClicked"
        class="btn btn-primary"
        href="#"
        :class="[purchaseButtonDisabled && 'disabled']"
    >
      Purchase
    </a>
    <card-payment-form
        v-if="state == 'payment'"
        :amount="Math.round(((option.autoTotal || 0) + (option.homeTotal || 0)) * 100)"
        @successfulPayment="successfulPaymentHandler"
    />
    <div
        v-if="state == 'binding'"
        class="alert alert-success"
    >
      Please wait. Binding the policy.
    </div>
    <div
        v-if="state == 'success'"
        class="alert alert-success"
    >
      Policy bound successfully!
    </div>
    <div
        v-if="state == 'error'"
        class="alert alert-success"
    >
      Error while bounding the policy.
      <br>
      {{ errorText }}
    </div>
  </div>
</template>

<script setup lang="ts">
import CoveragesTable from "./CoveragesTable.vue";
import {IBranchQuote, Option} from "../../interfaces/IBranchQuote.ts";
import {inject, onMounted, Ref, ref} from "vue";
import {Emitter} from "mitt";
import CardPaymentForm from "../../composables/CardPaymentForm.vue";
import {PaymentIntent} from "@stripe/stripe-js";
import axios, {AxiosError} from "axios";

interface IProps {
  option: Option
  index: number
}

const props = defineProps<IProps>()
const showPurchaseButton = ref(true)
const purchaseButtonDisabled = ref(false)
const state = ref('none')
const emitter = inject('emitter') as Emitter<any>;
const branchQuote = inject('branchQuote') as Ref<IBranchQuote>;

const onPurchaseClicked = () => {
  showPurchaseButton.value = false;
  state.value = 'payment'
  emitter.emit('onPurchaseClicked', {option_id: props.option.id})
}

onMounted(() => {
  emitter.on('onPurchaseClicked', (data: unknown) => {
    purchaseButtonDisabled.value = (data as { option_id: string }).option_id != props.option.id
  })
})

const errorText = ref('')
const successfulPaymentHandler = async (data: {token: string, _paymentIntent: PaymentIntent}) => {
  const {token} = data;

  state.value = 'binding'
  const payload = {
    token,
    "option_id": props.option.id,
    "quote_or_offer_id": branchQuote.value.id,
    "email": branchQuote.value.quote.email,
    "phone": branchQuote.value.quote.phone,
    "mailing_address": {
      "street": branchQuote.value.quote.correctedAddress.address,
      "city": branchQuote.value.quote.correctedAddress.city,
      "state": branchQuote.value.quote.correctedAddress.state,
      "zip": branchQuote.value.quote.correctedAddress.zip,
    },
  }
  try {
    const response = await axios.post('BranchTest/bind', payload)
    console.log(response)
    state.value = 'success'
  } catch (e) {
    console.log(e)
    state.value = 'error'
    const message = ((e as AxiosError)?.response?.data as any)?.message;
    if (message) {
      errorText.value = message
    } else {
      errorText.value = '';
    }
  }
}

</script>

<style scoped>

</style>