<template>
  <div id="payment-form-container">
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button
          v-show="paymentFormInitialized"
          class="btn btn-primary mt-2"
          id="submit"
          @click.prevent="handleSubmit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div v-show="!paymentFormInitialized">Preparing payment form</div>
      <div id="payment-message" class="hidden text-danger small"></div>
    </form>
  </div>
</template>

<script setup lang="ts">
import {inject, onMounted, Ref, ref} from "vue";
import {StripePayments} from "../components/StripePayments.ts";
import {PaymentIntent, Stripe} from "@stripe/stripe-js";

interface IProps {
  amount: number
}

const paymentFormInitialized = ref(false)
const props = defineProps<IProps>()
const stripe = inject('stripe') as Ref<Stripe>;
const stripePayments = new StripePayments(stripe?.value as Stripe)

const emit = defineEmits(['successfulPayment'])

const successfulPaymentHandler = (token: string, paymentIntent: PaymentIntent) => {
  emit('successfulPayment', {token, paymentIntent})
}

stripePayments.successfulPaymentHandler = successfulPaymentHandler
onMounted(async () => {
  await stripePayments.initPaymentForm(props.amount)
  paymentFormInitialized.value = true;
})

const handleSubmit = (e: Event) => {
  stripePayments.handleSubmit(e);
}


</script>

<style scoped>
@import "../assets/styles/stripe.scss";
</style>