<template>
  <StackPanel
      orientation="horizontal"
      v-if="CommercialPackageEnabled"
      Width="90"
  >
    <StackPanel
        Orientation="horizontal"
        v-if="IsPolicyStandalone"
    >
      <a @click="MakePolicyPartOfPackage(PolicyTypeCode)">
        <div title="Create as a part of a package">
          CPKG
        </div>
      </a>

      <TextBlock
          Margin="2,0"
          FontWeight="Bold"
          :text="PolicyTypeCode"
          ToolTip="Policy will be created as a standalone policy"
      ></TextBlock>
    </StackPanel>

    <StackPanel
        Orientation="horizontal"
        v-if="!IsPolicyStandalone"
    >
      <TextBlock
          Margin="2,0"
          Text="CPKG"
          FontWeight="Bold"
          ToolTip="Will be part of a package"
      ></TextBlock>

      <a @click="MakePolicyStandalone(PolicyTypeCode)">
        <div title="Create as a standalone policy">
          {{ PolicyTypeCode }}
        </div>
      </a>
    </StackPanel>
  </StackPanel>

  <CheckboxComponent
      Margin="5,6"
      :checked="IsChecked"
      v-on:change="emitIsChecked"
      :content="LineDescription"
      Height="Auto"
      VerticalAlignment="Center"
      :Tag="PolicyTypeCode"
  />

  <div v-if="IsChecked">
    <StackPanel>
      <div v-if="UseCommercialPackagePremium">
        <TextBoxInput
            Placeholder="Premium"
            horizontalAlignment="Left"
            v-model="CPKGPremium"
            TextBoxPadding="2"
            PanelMargin="0, 2"
        ></TextBoxInput>
      </div>

      <div
          v-if="!UseCommercialPackagePremium"
      >
        <TextBoxInput
            placeholder="Premium"
            horizontalAlignment="Left"
            :model-value="Premium"
            @update:model-value="$emit('update:Premium', $event)"
            TextBoxPadding="2"
            PanelMargin="0, 2"
            LostFocus="PremiumInput_OnLostFocus"
        ></TextBoxInput>
      </div>
    </StackPanel>
  </div>

</template>

<script setup lang="ts">
import CheckboxComponent from "../../CheckboxComponent.vue";
import {computed, watch} from "vue";

const props = defineProps<
    {
      PolicyTypeCode: string;
      IsChecked: boolean;
      IsPolicyStandalone: boolean;
      Premium: string;
      CPKGPremium: number;
      MakePolicyPartOfPackage: (policyType: string) => void;
      MakePolicyStandalone: (policyType: string) => void;
      CommercialPackageEnabled: boolean;
      PolicyLineToggled: (policyType: string) => void;
      PremiumChanged: (policyType: string) => void;
    }
>()

const UseCommercialPackagePremium = computed(() => {
  return props.CommercialPackageEnabled && !props.IsPolicyStandalone;
})

const ProductNames =
    {
      "HOME": "Home (Personal)",
      "AUTO": "Auto (Personal)",
      "CYCL": "Motorcycle",
      "FIRE": "Landlord",
      "PUMB": "Personal Umbrella",
      "PFLD": "Flood (Personal)",
      "MHOM": "Mobile Home",
      "INLM": "Personal Article Floater",
      "EQ-P": "Earthquake (Personal)",
      "REC": "Recreational Vehicle",
      "BOAT": "Boat (Personal)",
      "BAUT": "Commercial Auto",
      "PROP": "Commercial Property",
      "CUMB": "Commercial Umbrella",
      "GLIA": "General Liability",
      "WCOM": "Workers Compensation",
      "BOP": "Business Owners Policy",
      "E&O": "Errors & Omissions",
      "EPLI": "Employment Practices Liability",
      "D&O": "Directors & Officers",
      "CYBR": "Cyber Liability",
      "CRIM": "Crime",
      "EQ-C": "Earthquake",
      "CFLD": "Commercial Flood",
      "EQFL": "Equipment Floater",
      "BRSK": "Builders Risk",
    };

const LineDescription = computed(() => {
  return ProductNames[props.PolicyTypeCode] || PolicyTypeCode;
})

const emit = defineEmits('updated:IsChecked')
const emitIsChecked = (newVal) => {
  console.log('emitted', newVal)
  emit('update:IsChecked', newVal)
}

watch(props.IsChecked, (newVal, oldVal) => {
  console.log('emitted')
  emit('update:IsChecked', newVal)
})

</script>
<style scoped>

</style>