<template>
  <router-view/>
</template>

<script setup lang="ts">

</script>

<style>
@import "bootstrap/dist/css/bootstrap.min.css";

.fv-plugins-message-container {
  --input-invalid-color: var(--bs-danger);
  margin-top: 0.3rem;

  .fv-help-block {
    color: var(--bs-danger);
    font-size: 1rem;
    font-weight: 400;
  }

  &.valid-feedback,
  &.invalid-feedback {
    display: block;
    font-weight: 400;
  }
}

</style>