<template>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div>
        <label
            class="m-2"
            for="environment">Environment: </label>
        <select
            class="form-control d-inline-block w-50"
            v-model="environment"
            id="environment">
          <option value="production">Production</option>
          <option value="staging">Staging</option>
        </select>

      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card card-bordered">
            <div class="card-header">
              <h4 class="card-title"><strong>Chat</strong></h4>
            </div>

            <div
                ref="chatRef"
                class="ps-container ps-theme-default ps-active-y" id="chat-content"
                style="overflow-y: scroll !important; height:400px !important;">
              <div
                  v-for="(message, index) in messages"
                  :key="`message-${index}`"
                  class="media media-chat"
                  :class="[!message.isIncoming && 'media-chat-reverse']"
              >
                <img
                    v-if="message.isIncoming"
                    class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <div class="media-body">
                  <p>{{ message.text }}</p>
                  <p class="meta">
                    <span v-if="message.intent">
                      {{ intentTextRepresentation(message.intent) }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
              </div>
              <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
              </div>
            </div>

            <form @submit.prevent="sendMessage">
              <div class="publisher bt-1 border-light">
                <input
                    v-model="messageText"
                    class="publisher-input" type="text" placeholder="Customer's message">
                <a
                    @click.prevent="sendMessage"
                    class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-6">
          <div class="card-header">
            <h4 class="card-title"><strong>Tech Data</strong></h4>
          </div>
          <textarea
              class="form-control"
              style="height: 400px !important;"
              :readonly="true"
              v-model="logLines"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, watch} from "vue";
import axios from "axios";

interface IOpenDialogResponse {
  scenarioId: string;
  callbackDatetime: null;
  callbackTimezone: null;
  intent: string;
  text: string;
  logLines: string
}

interface IChatMessage {
  text: string,
  intent?: string,
  isIncoming?: boolean;
}

const chatRef = ref<HTMLElement>()
const initMessage = {
  text: 'Hello, this is the first message where I ask if it is a good time to chat. Please respond as you have received this message.',
  isIncoming: true,
  intent: ''
}

const messages = ref<IChatMessage[]>([initMessage])

const intentTextRepresentation = (intent: string) => {
  switch (intent) {
    case 'ON_GOING_ON_TOPIC':
      return 'ongoing conversation'
    default:
      return intent
  }
}
const userId = ref(Math.round(Date.now() / 1000))
const messageText = ref('')
const logLines = ref('')
const payloadType = ref('INITIAL_CONVERSATION')
const environment = ref('production')

watch(() => environment.value, (newValue) => {
  console.log(newValue)

  userId.value = Math.round(Date.now() / 1000)
  logLines.value = ''
  messages.value = [initMessage]
  payloadType.value = 'INITIAL_CONVERSATION';
})

const sendMessage = async () => {
  if (!messageText?.value) return;

  messages.value.push({
    text: messageText?.value,
  })
  const messageToSend = messageText.value;
  messageText.value = '';

  const incomingMessage = {
    text: 'typing...',
    isIncoming: true
  } as IChatMessage;

  const messageIndex = messages.value.push(incomingMessage)

  let response;
  try {
    response = await axios.post('/OpenDialog/SendMessage', {
      message: messageToSend,
      user_id: userId.value,
      payload_type: payloadType.value,
      environment: environment.value
    })
    payloadType.value = 'ONGOING_CONVERSATION';
  } catch (e) {
    alert('There was an error requesting the server')
    return
  }

  const openDialogResponse = response.data as IOpenDialogResponse;

  if (!openDialogResponse) {
    alert('There was an error requesting the server')
    return
  }

  messages.value[messageIndex - 1].text = openDialogResponse.text;
  messages.value[messageIndex - 1].intent = openDialogResponse.intent;

  if (chatRef.value) {
    chatRef.value.scrollTop = chatRef.value.scrollHeight;
  }

  logLines.value += "\n" + openDialogResponse.logLines;
}
</script>

<style scoped>
.card-bordered {
  border: 1px solid #ebebeb;
}

.card {
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: .5s;
  transition: .5s;
}

.padding {
  padding: 3rem !important
}

body {
  background-color: #f9f9fa
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card-header .card-title {
  padding: 0;
  border: none;
}

h4.card-title {
  font-size: 17px;
}

.card-header > *:last-child {
  margin-right: 0;
}

.card-header > * {
  margin-left: 8px;
  margin-right: 8px;
}

.btn-secondary {
  color: #4d5259 !important;
  background-color: #e4e7ea;
  border-color: #e4e7ea;
  color: #fff;
}

.btn-xs {
  font-size: 11px;
  padding: 2px 8px;
  line-height: 18px;
}

.btn-xs:hover {
  color: #fff !important;
}


.card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}


.ps-container {
  position: relative;
}

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media .avatar {
  flex-shrink: 0;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: table;
}

.media-body {
  min-width: 0;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
  font-weight: 100;
  color: #9b9b9b;
}

.media > * {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: .8;
}

.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: .8;
  font-weight: 400;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-meta-day::before {
  margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  margin-left: 16px;
}

.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  background-color: #48b0f7;
  color: #fff;
}

.media-chat.media-chat-reverse .media-body p.meta span {
  color: #48b0f7;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
}


.border-light {
  border-color: #f1f2f3 !important;
}

.bt-1 {
  border-top: 1px solid #ebebeb !important;
}

.publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb;
}

.publisher > *:first-child {
  margin-left: 0;
}

.publisher > * {
  margin: 0 8px;
}

.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

.text-info {
  color: #48b0f7 !important;
}
</style>